body{
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://images.unsplash.com/photo-1501769214405-5e5ee5125a02?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=christian-perner-UKLIuV8rAks-unsplash.jpg&w=2400");
    background-repeat: no-repeat;
}
.header{
    background-color: white;
    border: 10px white solid;
}
.header1{
    text-align: right;
    background-color: #A8F0F0;
}
.header1 h2{
    font-size: 14px;
}
.header2, .header3{
    background-color: #E8FBFB;
    border: 4px #C2E9E9 solid;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
}
#date1, #date2{
    border-bottom: 2px blue dashed;
}
.header2 img{
    float: right;
}
.header3 img{
    float: right;
}